## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Banda Aceh,ID,5.5577,95.3222,86.45,62,50,10.13,scattered clouds
1,1,Hobyo,SO,5.3505,48.5268,77.59,66,69,18.63,broken clouds
2,2,Upernavik,GL,72.7868,-56.1549,5.72,70,100,3.71,overcast clouds
3,3,Qaanaaq,GL,77.4840,-69.3632,-12.28,53,99,8.75,overcast clouds
4,4,Bethel,US,41.3712,-73.4140,49.93,93,100,8.05,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
desired_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
desired_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Banda Aceh,ID,5.5577,95.3222,86.45,62,50,10.13,scattered clouds
1,1,Hobyo,SO,5.3505,48.5268,77.59,66,69,18.63,broken clouds
6,6,Asfi,MA,32.2994,-9.2372,63.03,48,100,10.83,overcast clouds
9,9,Kapaa,US,22.0752,-159.3190,75.18,72,0,5.75,clear sky
12,12,Atuona,PF,-9.8000,-139.0333,78.57,74,2,18.57,clear sky
15,15,Bubaque,GW,11.2833,-15.8333,76.87,70,0,8.95,clear sky
20,20,Puerto Ayora,EC,-0.7393,-90.3518,74.55,93,7,1.99,clear sky
21,21,Coahuayana,MX,18.7333,-103.6833,66.87,76,39,3.94,scattered clouds
23,23,Ponta Do Sol,PT,32.6667,-17.1000,67.01,71,16,2.71,few clouds
28,28,Sao Filipe,CV,14.8961,-24.4956,72.43,75,0,6.51,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
desired_cities_df.count()

City_ID                205
City                   205
Country                205
Lat                    205
Lng                    205
Max Temp               205
Humidity               205
Cloudiness             205
Wind Speed             205
Weather Description    205
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# I DO NOT HAVE EMPTY ROWS. If I did, I use the drop the dropna() method

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = desired_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Banda Aceh,ID,86.45,scattered clouds,5.5577,95.3222,
1,Hobyo,SO,77.59,broken clouds,5.3505,48.5268,
6,Asfi,MA,63.03,overcast clouds,32.2994,-9.2372,
9,Kapaa,US,75.18,clear sky,22.0752,-159.3190,
12,Atuona,PF,78.57,clear sky,-9.8000,-139.0333,
15,Bubaque,GW,76.87,clear sky,11.2833,-15.8333,
20,Puerto Ayora,EC,74.55,clear sky,-0.7393,-90.3518,
21,Coahuayana,MX,66.87,scattered clouds,18.7333,-103.6833,
23,Ponta Do Sol,PT,67.01,few clouds,32.6667,-17.1000,
28,Sao Filipe,CV,72.43,clear sky,14.8961,-24.4956,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.  
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.tail(200)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
15,Bubaque,GW,76.87,clear sky,11.2833,-15.8333,"Casa Dora, Bubaque"
20,Puerto Ayora,EC,74.55,clear sky,-0.7393,-90.3518,Finch Bay Galapagos Hotel
21,Coahuayana,MX,66.87,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
23,Ponta Do Sol,PT,67.01,few clouds,32.6667,-17.1000,Hotel do Campo
28,Sao Filipe,CV,72.43,clear sky,14.8961,-24.4956,Hotel Xaguate
...,...,...,...,...,...,...,...
503,Wad Madani,SD,70.48,few clouds,14.4012,33.5199,فندق يوغسلافيا
506,Mabaruma,GY,71.49,scattered clouds,8.2000,-59.7833,Monty Brooms Guest House
509,Santa Luzia,BR,70.70,clear sky,-19.7697,-43.8514,Pousada Chao Earth
511,Addanki,IN,83.16,scattered clouds,15.8167,79.9833,A Home
514,San Juan,AR,69.80,clear sky,-31.5375,-68.5364,Hotel Provincial

In [10]:
# How many rows with no hotel name
hotel_df.eq("").sum()

City                    0
Country                 0
Max Temp                0
Weather Description     0
Lat                     0
Lng                     0
Hotel Name             20
dtype: int64

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.loc[(hotel_df["Hotel Name"]!="")]

In [19]:
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Banda Aceh,ID,86.45,scattered clouds,5.5577,95.3222,Sulthan Hotel International
1,Hobyo,SO,77.59,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent
6,Asfi,MA,63.03,overcast clouds,32.2994,-9.2372,Hôtel Abda
9,Kapaa,US,75.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Atuona,PF,78.57,clear sky,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
503,Wad Madani,SD,70.48,few clouds,14.4012,33.5199,فندق يوغسلافيا
506,Mabaruma,GY,71.49,scattered clouds,8.2000,-59.7833,Monty Brooms Guest House
509,Santa Luzia,BR,70.70,clear sky,-19.7697,-43.8514,Pousada Chao Earth
511,Addanki,IN,83.16,scattered clouds,15.8167,79.9833,A Home
514,San Juan,AR,69.80,clear sky,-31.5375,-68.5364,Hotel Provincial

In [12]:
clean_hotel_df.eq("").sum()

City                   0
Country                0
Max Temp               0
Weather Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [13]:
clean_hotel_df.tail(200)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Banda Aceh,ID,86.45,scattered clouds,5.5577,95.3222,Sulthan Hotel International
1,Hobyo,SO,77.59,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent
6,Asfi,MA,63.03,overcast clouds,32.2994,-9.2372,Hôtel Abda
9,Kapaa,US,75.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Atuona,PF,78.57,clear sky,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
503,Wad Madani,SD,70.48,few clouds,14.4012,33.5199,فندق يوغسلافيا
506,Mabaruma,GY,71.49,scattered clouds,8.2000,-59.7833,Monty Brooms Guest House
509,Santa Luzia,BR,70.70,clear sky,-19.7697,-43.8514,Pousada Chao Earth
511,Addanki,IN,83.16,scattered clouds,15.8167,79.9833,A Home
514,San Juan,AR,69.80,clear sky,-31.5375,-68.5364,Hotel Provincial

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "Data/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
locations

         Lat       Lng
0     5.5577   95.3222
1     5.3505   48.5268
6    32.2994   -9.2372
9    22.0752 -159.3190
12   -9.8000 -139.0333
..       ...       ...
503  14.4012   33.5199
506   8.2000  -59.7833
509 -19.7697  -43.8514
511  15.8167   79.9833
514 -31.5375  -68.5364

[185 rows x 2 columns]

In [26]:
len(hotel_info)

185

In [27]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

# Done!